<div id="footer">
	<div class="main clearfix">
	</div><!-- end footer main -->
	<div class="secondary clearfix">
		<div class="left"><p>© 2016 Myriam Tousignant Tous Droits Réservés.</p></div>
	</div><!-- end footer secondary-->
</div><!-- end footer -->
