<div id="header">
	<div class="inside clearfix">
		{%- include is_styleguide ? '@menu-sections' : '_partial/_menu-sections.twig' %}
		{%- include is_styleguide ? '@recent-posts' : '_partial/_recent-posts.twig' %}
	</div>	
</div>
