<!-- begin navigation -->
<div class="projectNav clearfix">
  <div class="previous {% if not previouslink %}inactive{% endif %}">
     {% if previouslink %}<a href="{{ previouslink }}" rel="prev">1</a>{% endif %}
  </div>
  <div class="next {% if not nextlink %}inactive{% endif %}">
     {% if nextlink %}<a href="{{ nextlink }}" rel="next">1</a>{% endif %}
  </div>
</div> 
<!-- end navigation -->

