---
layout: 'layout'
---
<body class="page page-id-630 page-template page-template-portfolio-php bg_none ">
    <div id="container" class="clearfix">
        {% include('_partial/branding.twig') %}
        {% include('_partial/_header.twig') %}
        <div id="main" class="clearfix">
            <div id="pageHead">
            <h1>Projets</h1>
        </div>
<div id="content" class="clearfix page page-id-630 page-template page-template-portfolio-php bg_none">
    <div id="projects">
        <div class="thumbs masonry">
            <div class="project small " id="diffuser-confinee">
                <a href="/projects/diffuser-confinee/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2020/08/diffuser-confinee/image_accueil_residence.jpg" class="thumb wp-post-image" alt="Diffuser confiné.e" title="Diffuser confiné.e" />	<span class="title"><span>Diffuser confiné.e</span></span>
                </a>
            </div>         
            <div class="project small " id="pour-passer-au-travers">
                <a href="/projects/pour-passer-au-travers/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2020/04/pour-passer-au-travers/pour-passer-au-travers-cover.jpg" class="thumb wp-post-image" alt="Pour passer au travers" title="Pour passer au travers" />	<span class="title"><span>Pour passer au travers</span></span>
                </a>
            </div> 
            <div class="project small " id="maskipeche">
                <a href="/projects/maskipeche/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2019/04/maskipeche/4-MTousignant.jpg" class="thumb wp-post-image" alt="Maskipêche" title="Maskipêche" />	<span class="title"><span>Maskipêche &#8211; oeuvre installative</span></span>
                </a>
            </div> 
            <div class="project small " id="studios-ephemeres">
                <a href="/projects/studios-ephemeres/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2019/01/studios-ephemeres/photo_studio.jpg" class="thumb wp-post-image" alt="Studios Éphémères" title="Studios Éphémères" />	<span class="title"><span>Studios Éphémères</span></span>
                </a>
            </div>        
            <div class="project small " id="project-peintures-production-2015-2016">
                <a href="/projects/peintures-production-2015-2016/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2016/10/fac-2016/fac-2016-5.jpg" class="thumb wp-post-image" alt="Peintures &#8211; Production 2015 / 2016" title="Peintures &#8211; Production 2015 / 2016" />	<span class="title"><span>Peintures &#8211; Production 2015 / 2016</span></span>
                </a>
            </div>
        <div class="project small " id="project-liens-sacres-portraits-de-femmes">
            <a href="/projects/liens-sacres-portraits-de-femmes/" rel="bookmark" >
                <img width="220" height="170" src="/wp-content/uploads/2013/05/Web-page-couv-220x170.png" class="thumb wp-post-image" alt="Liens sacrés, Portraits de femmes / Zocalo" title="Liens sacrés, Portraits de femmes / Zocalo" />	<span class="title"><span>Liens sacrés, Portraits de femmes / Zocalo</span></span>
            </a>
        </div>
        <div class="project small " id="project-series-liens-sacres-portraits-de-femmes">
			<a href="/projects/series-liens-sacres-portraits-de-femmes/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2015/01/serie-liens-sacres-110-220x170.jpg" class="thumb wp-post-image" alt="Séries &#8211; Liens sacrés, Portraits de femmes" title="Séries &#8211; Liens sacrés, Portraits de femmes" />	<span class="title"><span>Séries &#8211; Liens sacrés, Portraits de femmes</span></span>
	        </a>
        </div>
        <div class="project small arts-visuels " id="project-portraits-de-femmes-liens-sacres">
			<a href="/projects/portraits-de-femmes-liens-sacres/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/couverture-portrait-220x170.png" class="thumb wp-post-image" alt="Liens sacrés, Portraits de femmes / CDEx" title="Liens sacrés, Portraits de femmes / CDEx" />	<span class="title"><span>Liens sacrés, Portraits de femmes / CDEx</span></span>
	        </a>
        </div>
        <div class="project small arts-visuels " id="project-lebestiaire">
			<a href="/projects/lebestiaire/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/couverture-bestiaire-220x170.png" class="thumb wp-post-image" alt="Le Bestiaire" title="Le Bestiaire" />	<span class="title"><span>Le Bestiaire</span></span>
	        </a>
        </div>
        <div class="project small " id="project-le-corps-pictural">
			<a href="/projects/le-corps-pictural/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/page-couverture-corps-pictural-220x170.png" class="thumb wp-post-image" alt="Le corps pictural" title="Le corps pictural" />	<span class="title"><span>Le corps pictural</span></span>
	        </a>
        </div>
        <div class="project small " id="project-convergence-disloquee">
			<a href="/projects/convergence-disloquee/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/Page-couverture-convergence-220x170.png" class="thumb wp-post-image" alt="Convergence disloquée" title="Convergence disloquée" />	<span class="title"><span>Convergence disloquée</span></span>
	        </a>
        </div>
    </div>
</div>
</div>    
    {% include('_partial/_footer.twig') %}
    </div><!-- end container -->
    {% include('_partial/_after-footer.twig') %}
</body>