$content-width = 62.5em;

body {
  padding-top: 110px;
  
  @media screen and (min-width: 400px) {
    padding-top: 80px;
  }
}


h1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2.5em;
  color: #575757;
  width: 100%;
  margin-left: 8px;
  margin-top: 20px;
  
  @media screen and (min-width: $content-width) {
    margin-left: 0;
  }
}

header {
  border-bottom: 1px solid #e3e2de;
  background-color: rgba(255, 255, 255, 0.90);
  position: fixed;
  left: 50%; 
  top: 0;
  width: 100%;
  max-width: 60.5em;
  z-index: 9999; 

  transformTranslateX(-50%);

  a {
    color: #575757;
    font-family: 'Roboto';
    padding-right: 50px;
    @media screen and (min-width: 400x) {
      padding-right: 0;
    }
  }
}