<div id="header">
	<div class="inside clearfix">
		{%- include is_styleguide ? '@menu-sections' : 'partial/menu-sections.twig' %}
		{%- include is_styleguide ? '@recent-posts' : 'partial/recent-posts.twig' %}
	</div>	
</div>
