    <body class="home blog bg_none">
        <div id="container" class="clearfix">
            <%- partial('_partial/branding.ejs') %>
            <%- partial('_partial/header.ejs') %>
            <div id="main" class="clearfix">
<div id="content">
	<div class="thumbs masonry">
		<div class="project small 0" id="project-peintures-production-2010-2015">
			<a href="/projects/peintures-production-2010-2015/" rel="bookmark" >
		<div class="title">
		<div class="centerer">
			<span class="title-inner">Peintures &#8211; Production 2010 / 2015	</span>
		</div>
	</div>
	<img width="720" height="300" src="/wp-content/uploads/2015/10/toiles-5-720x300.jpg" class="thumb wp-post-image" alt="Peintures &#8211; Production 2010 / 2015" title="Peintures &#8211; Production 2010 / 2015" />	</a>																																
</div>	
<div class="project small 0" id="project-series-liens-sacres-portraits-de-femmes">
		<a href="/projects/series-liens-sacres-portraits-de-femmes/" rel="bookmark" >
		<div class="title">
			<div class="centerer">
				<span class="title-inner">Séries &#8211; Liens sacrés, Portraits de femmes	</span>
			</div>
		</div>
		<img width="720" height="300" src="/wp-content/uploads/2015/01/serie-liens-sacres-110.jpg" class="thumb wp-post-image" alt="Séries &#8211; Liens sacrés, Portraits de femmes" title="Séries &#8211; Liens sacrés, Portraits de femmes" />	</a>																																
	</div>
</div>
            </div>    
        <%- partial('_partial/footer') %>
        </div><!-- end container -->
        <%- partial('_partial/after-footer') %>
    </body>
