    <body class="page page-id-630 page-template page-template-portfolio-php bg_none ">
        <div id="container" class="clearfix">
            <%- partial('_partial/branding.ejs') %>
            <%- partial('_partial/header.ejs') %>
            <div id="main" class="clearfix">
<div id="pageHead">
    <h1>Projets</h1>
</div>
<div id="content" class="clearfix page page-id-630 page-template page-template-portfolio-php bg_none">
    <div id="projects">
        <div class="thumbs masonry">
            <div class="project small " id="project-fac-2016">
                <a href="/projects/fac2016/" rel="bookmark" >
                    <img width="220" height="170" src="https://placehold.it/220x170" class="thumb wp-post-image" alt="FAC 2016" title="FAC 2016" />	<span class="title"><span>FAC 2016</span></span>
                </a>
            </div>
            <div class="project small " id="project-peintures-production-2010-2015">
                <a href="/projects/peintures-production-2010-2015/" rel="bookmark" >
                    <img width="220" height="170" src="/wp-content/uploads/2015/10/toiles-5-220x170.jpg" class="thumb wp-post-image" alt="Peintures &#8211; Production 2010 / 2015" title="Peintures &#8211; Production 2010 / 2015" />	<span class="title"><span>Peintures &#8211; Production 2010 / 2015</span></span>
                </a>
            </div>
        <div class="project small " id="project-liens-sacres-portraits-de-femmes">
            <a href="/projects/liens-sacres-portraits-de-femmes/" rel="bookmark" >
                <img width="220" height="170" src="/wp-content/uploads/2013/05/Web-page-couv-220x170.png" class="thumb wp-post-image" alt="Liens sacrés, Portraits de femmes / Zocalo" title="Liens sacrés, Portraits de femmes / Zocalo" />	<span class="title"><span>Liens sacrés, Portraits de femmes / Zocalo</span></span>
            </a>
        </div>
        <div class="project small " id="project-extase-a-emporter">
			<a href="/projects/extase-a-emporter/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/Extase-couverture-220x170.png" class="thumb wp-post-image" alt="Extase à emporter" title="Extase à emporter" />	<span class="title"><span>Extase à emporter</span></span>
	        </a>
        </div>
        <div class="project small " id="project-series-liens-sacres-portraits-de-femmes">
			<a href="/projects/series-liens-sacres-portraits-de-femmes/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2015/01/serie-liens-sacres-110-220x170.jpg" class="thumb wp-post-image" alt="Séries &#8211; Liens sacrés, Portraits de femmes" title="Séries &#8211; Liens sacrés, Portraits de femmes" />	<span class="title"><span>Séries &#8211; Liens sacrés, Portraits de femmes</span></span>
	        </a>
        </div>
        <div class="project small arts-visuels " id="project-portraits-de-femmes-liens-sacres">
			<a href="/projects/portraits-de-femmes-liens-sacres/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/couverture-portrait-220x170.png" class="thumb wp-post-image" alt="Liens sacrés, Portraits de femmes / CDEx" title="Liens sacrés, Portraits de femmes / CDEx" />	<span class="title"><span>Liens sacrés, Portraits de femmes / CDEx</span></span>
	        </a>
        </div>
        <div class="project small arts-visuels " id="project-lebestiaire">
			<a href="/projects/lebestiaire/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/couverture-bestiaire-220x170.png" class="thumb wp-post-image" alt="Le Bestiaire" title="Le Bestiaire" />	<span class="title"><span>Le Bestiaire</span></span>
	        </a>
        </div>
        <div class="project small " id="project-le-corps-pictural">
			<a href="/projects/le-corps-pictural/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/page-couverture-corps-pictural-220x170.png" class="thumb wp-post-image" alt="Le corps pictural" title="Le corps pictural" />	<span class="title"><span>Le corps pictural</span></span>
	        </a>
        </div>
        <div class="project small " id="project-convergence-disloquee">
			<a href="/projects/convergence-disloquee/" rel="bookmark" >
		        <img width="220" height="170" src="/wp-content/uploads/2013/05/Page-couverture-convergence-220x170.png" class="thumb wp-post-image" alt="Convergence disloquée" title="Convergence disloquée" />	<span class="title"><span>Convergence disloquée</span></span>
	        </a>
        </div>
    </div>
</div>

            </div>    
        <%- partial('_partial/footer') %>
        </div><!-- end container -->
        <%- partial('_partial/after-footer') %>
    </body>

