<body class="page page-id-628 page-template page-template-presse-php bg_none " >
        <div id="container" class="clearfix">
            <%- partial('_partial/branding.ejs') %>
            <%- partial('_partial/header.ejs') %>
            <div id="main" class="clearfix">
		<div id="pageHead">
			<h1>Presse</h1>
		</div>
		<div id="content" class="clearfix">
			    <div class="post-642 post type-post status-publish format-standard hentry category-presse-2 tag-web clearfix">	
									<div class="press-icon"><img src="/wp-content/themes/myriam-tousignant/img/web.png"/></div>	
				<a href=" ">				
					Punctum- arts visuels	
                      		</a>			
				<p><a href="http:/www.punctum-qc.com/p-myriam-tousignant.html" target="_blank"></a></p>
			    </div>				
			    <div class="post-79 post type-post status-publish format-standard hentry category-presse-2 clearfix">	
									<div class="press-icon"><img src="/wp-content/themes/myriam-tousignant/img/pdf.png"/></div>	
									
				<a href="/wp-content/uploads/2013/05/memoire-myriam-tousignant.pdf ">				
					Mémoire de création, Portraits de femmes, liens sacrés	
                      		</a>			
							    </div>				
					
						    
			    <div class="post-34 post type-post status-publish format-standard hentry category-presse-2 tag-web clearfix">	
									<div class="press-icon"><img src="/wp-content/themes/myriam-tousignant/img/web.png"/></div>	
									
				<a href="http:/www.zocaloweb.org/expo_TousignantM.html ">				
					Zocalo	
                      		</a>			
				<p>Zocalo, Liens sacrés, Portraits de femmes, Galerie virtuelle, 2013</p>
			    </div>				
					
						    
			    <div class="post-312 post type-post status-publish format-standard hentry category-presse-2 clearfix">	
									<div class="press-icon"><img src="/wp-content/themes/myriam-tousignant/img/pdf.png"/></div>	
									
				<a href="/wp-content/uploads/2013/05/commmtousignant2.pdf ">				
					Communiqué de presse Le Bestiaire 30/30/30	
                      		</a>			
							    </div>				
					
						    
			    <div class="post-305 post type-post status-publish format-standard hentry category-presse-2 clearfix">	
									<div class="press-icon"><img src="/wp-content/themes/myriam-tousignant/img/pdf.png"/></div>	
									
				<a href="/wp-content/uploads/2013/05/15-1_cartonlecorpspicturalcaravanserail2009.pdf ">				
					Le corps pictural, carton invitation	
                      		</a>			
							    </div>				
					
								    	
		</div>		
	
	</div>	
	<%- partial('_partial/footer') %>
</div><!-- end container -->
<%- partial('_partial/after-footer') %>
</body>
