<div id="mainNav" class="clearfix">
	<div class="menu-menu-principal-container">
		<ul id="menu-menu-principal" class="">
			<% for (var i in theme.menu) {%>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
			<% } %>
		</ul>
	</div>
</div>	
<div class="navbar">
	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="mini-nav-button-line"></span>
		<span class="mini-nav-button-line"></span>
		<span class="mini-nav-button-line"></span>
	</button>
	<div class="nav-collapse collapse">	
		<div class="menu-menu-principal-container">
			<ul id="menu-menu-principal-1" class="menu">
				<% for (var i in theme.menu) { %>
					<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
				<% } %>
			</ul>
		</div>
	</div><!-- end of .nav-collapse -->
</div><!-- end of .navbar -->	
