<div id="sideWidgets">
	<div id="ttrust_recent_posts-2" class="ttrust_recent_posts sidebarBox widgetBox">
		<h3>Nouvelles</h3>
		<ul class="widgetList">
			<% site.posts.sort('date').reverse().slice(0, 4).each(function(post) { %>
			<li class="clearfix">
				<span class="title">
					<a href="url_for(post)" title="<%- post.title %>"><%- post.title %></a>
				</span>
				<span class="meta"><%- post.date.format('DD/MM/YYYY') %> </span>
				</li>
				<% }); %>
		</ul>
	</div>
</div>
