<div class="slideshow">
  <div class="flexslider">
    <ul class="slides">
      <% for(var i in slides) {%>
        <li><img class="alignnone size-full wp-image-202" alt="Toile" src="<%= slides[i] %>" width="720" height="525" /></li>
      <%}%>
    </ul>
  </div>
</div><br />
