<div class="slideshow">
  <div class="flexslider">
    <ul class="slides">
      <% for(var i in slides) {%>
        <li><img class="alignnone size-full wp-image-202" alt="Toile" src="<%= slides[i] %>" width="720" height="525" /></li>
      <!--
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-8.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-7.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-6.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-5.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-4.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-3.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-2.jpg" width="720" height="525" /></li>
      <li><img class="alignnone size-full wp-image-202" alt="Toile" src="/wp-content/uploads/2015/10/toiles-1.jpg" width="720" height="525" /></li>
      -->
      <%}%>
    </ul>
  </div>
</div><br />
