---
layout: 'layout'
---
{% block content %}
<body class="page page-id-628 page-template page-template-presse-php bg_none " >
	<div id="container" class="clearfix">
		{% include ('_partial/branding.twig') %}
		{% include ('_partial/_header.twig') %}
		<div id="main" class="clearfix">
			<div id="pageHead">
				<h1>{{ page.title }}</h1>
			</div>
			<div id="content" class="clearfix">
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/web.png"/></div>	
					<a href="https://www.tvrs.ca/emissions/studio-direct/sur-demande?show=199980&fbclid=IwAR29q90fOyEs-Fvl8u9q3Kne_PvFkDJlMRsQ5wokHdIFWNe16p5UU06SuCg">"Petites mains"/ Une histoire de famille, entrevue pour l'émission Studio Direct sur TVRS, Jeudi 11 mars 2021, 6min13 sec.</a>			
				</div>			
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/web.png"/></div>	
					<a href="https://www.youtube.com/watch?v=IJMwHNDeqhY&feature=youtu.be&fbclid=IwAR0j26NjH0tb-DW1U2ih10zyjfmEjQbRPISS5efTtfsnvE1bcDHwrfeoQOY">Les fenêtres qui parlent, une rencontre entre une œuvre et un lieu, Parcours en art public éphémère à Longueuil, du 12 au 23 août 2020.</a>			
				</div>
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/web.png"/></div>	
					<a href="https://www.lecourrierdusud.ca/poesie-dans-la-ville-fenetres-sur-la-culture-locale/">Poésie dans la ville: fenêtres sur la culture locale</a>			
				</div>
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/web.png"/></div>	
					<a href="https://ericbolduc.xyz/2020/07/03/myriam-tousignant-pour-passer-au-travers/">Myriam Tousignant — Pour passer au travers</a>			
				</div>
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/pdf.png"/></div>	
					<a href="https://youtu.be/HluwZCaxuVQ">"Myriam Tousignant / Pour passer au travers" (version intégrale), Entrevue menée par Éric Bolduc, Consultant en communications et développement, mordu d'art</a>			
				</div>
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/pdf.png"/></div>	
					<a href="/wp-content/uploads/2013/05/memoire-myriam-tousignant.pdf">Mémoire de création, Portraits de femmes, liens sacrés</a>			
				</div>
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/pdf.png"/></div>	
					<a href="/wp-content/uploads/2013/05/commmtousignant2.pdf">Communiqué de presse Le Bestiaire 30/30/30</a>			
				</div>				
				<div class="post type-post status-publish format-standard hentry category-presse-2 clearfix">	
					<div class="press-icon"><img src="/img/pdf.png"/></div>	
					<a href="/wp-content/uploads/2013/05/15-1_cartonlecorpspicturalcaravanserail2009.pdf">Le corps pictural, carton invitation</a>			
				</div>				
			</div>		
		</div>	
		{% include ('_partial/_footer.twig') %}
	</div>
	{% include ('_partial/_after-footer.twig') %}
</body>
{% endblock %}