---
layout: 'layout'
---
{% block content %}
<body class="single single-post single-format-standard bg_none ">
    {% include('partial/branding.twig') %}
    <div id="container" class="clearfix">
        {% include('partial/header.twig') %}
        <div id="main" class="clearfix">
            <div id="pageHead">
                <h1>Publications</h1>
            </div>
            <div id="content">
                {% include('partial/social-icons.twig') %}
                {{ page.content }}
            </div>
        </div>    
        {% include('partial/footer.twig') %}
    </div><!-- end container -->
    {% include('partial/after-footer.twig') %}
</body>
{% endblock %}